{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    {% if preserved is defined %}
    <h3> User </h3>
    <label for="old_password">Old Password</label>
    <input type="password" name="old_password" id="old_password" value="{{ preserved.old_password }}" required>
    <label for="new_password">New Password</label>
    <input type="password" name="new_password" id="new_password" value="{{ preserved.new_password }}" required>
    <label for="retype_password">Retype Password</label>
    <input type="password" name="retype_password" id="retype_password" value="{{ preserved.retype_password }}" required>
    {% else %}
    <label for="old_password">Old Password</label>
    <input type="password" name="old_password" id="old_password" required>
    <label for="new_password">New Password</label>
    <input type="password" name="new_password" id="new_password" required>
    <label for="retype_password">Retype Password</label>
    <input type="password" name="retype_password" id="retype_password" required>
    {% endif %}
    <input type="submit" value="Change User">
  </form>
{% endblock %}
